
@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

body {
  background-color: #0A0A0A;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}  */


body {
  background-color: #0a0a0a;
  scroll-snap-type: y mandatory;
}

html {
  scroll-behavior: smooth;
}


